@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body, footer {
    font-family: Ubuntu, sans-serif;
    background: rgba(244, 242, 189, 0.5);
    color: var(--figura);
}

*{
	transition:all ease 0.5s;
}

:hover{
	transition:all ease 0.5s;
}

a.nav-link{
	text-transform: lowercase;
	font-variant: small-caps;
}

section header{
	height:auto;
	min-height: 60vh;
}

section#hello header{
	background:silver url('https://picsum.photos/id/1020/900/400') center center no-repeat;
	background-size:cover;
}

section#work header{
	background:silver url('https://picsum.photos/id/1024/900/400') center center no-repeat;
	background-size:cover;	
}

section#contact header{
	background:silver url('https://picsum.photos/id/1069/900/400') center center no-repeat;
	background-size:cover;	
}

#principal {
background: rgba(244, 242, 189);
}



:target:before {
	content:"";
	display:block;
	height:70px;
	margin:-70px 0 0;
}

#opciones{
	z-index: 2;
    
    right:1rem;
    position: absolute;
    background: white;
    padding:0.5rem 1rem;
    border-radius: 5px 5px;
    box-shadow: 0 0 5px rgba(0,0,0, 1);

